<!DOCTYPE html>
<html lang="en">
<head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Guestians</title>
</head>
<body>
          <h1>Guestians</h1>  
          <div class="container">
               <%-body -%></div>  
</body>
</html>