
<%layout("/Layouts/boilerplate.ejs")%>

  <!-- Page content -->
  <div class="container">
    <div class="jumbotron">
      <img src="https://images.squarespace-cdn.com/content/v1/571a88642b8dde690c217bf0/1614586299898-AI5MZSZ1ZGYBPHZVWU04/hotel-website-design-example-palm-island-resort.jpg" alt="Hotel Image" class="jumbotron-image">
      <div class="jumbotron-content">
        <h1 class="display-4">Welcome to Your Guestians</h1>
        <p class="lead">Experience luxury and comfort like never before.</p>
        <a class="btn btn-primary btn-lg" href="/listings" role="button">Explore Rooms</a>
      </div>
      <!-- Animation -->
      <div class="animation-target">
        <img src="https://cdn.pixabay.com/photo/2019/08/19/13/58/bed-4416515_1280.jpg" alt="Floating Animation" class="img-fluid">
      </div>
    </div>

    </div>
  </div>

  
